{% if config.plugins.admin.logo_text %}
    <h1 class="text-logo">
        {{ config.plugins.admin.logo_text }}
    </h1>
{% else %}
    <h1 class="{{ custom_login_logo ? 'custom-logo' : 'default-logo' }}" style="padding: 3rem;">
        {{ title }}
        {% if custom_login_logo %}
            <img src="{{ url(custom_login_logo) }}" style="width: 100%;" title="Login" />
        {% else %}
            {% include('@admin-images/logo.svg') %}
        {% endif %}
    </h1>
{% endif %}
